@model MyASPCore.ViewModels.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create Employee";
}
<div class="card shadow mb-4 col-md-6">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Employees</h6>
    </div>
    <div class="card-body">
        @if (ViewData["error"] != null)
        {
            @Html.Raw(ViewData["error"])
        }
        <form asp-action="Create">
            <div class="mb-3">
                <select asp-for="DepartmentID" class="form-control" asp-items="@Model.Departments">
                    <option>Please select</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Enter FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Enter LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
