@model IEnumerable<MyASPCore.ViewModels.EmployeeViewModel>

@{
    //Layout = "_LayoutStartbootstrap";
    ViewData["Title"] = "Employee List";

}

<div class="row">
    <div class="card shadow mb-4 col-md-6">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td>ID</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                </tr>

                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.EmployeeID</td>
                        <td>@emp.FirstName</td>
                        <td>@emp.LastName</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
